<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Estadísticas</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Manuel Santos Jorge">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static',filename='css/loading.css')}}">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='js/script.js')}}"></script>
</head>
<body>
    <form method="post" action="/download" id="searchForm" class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Buscar información de Ley 103</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        <label for="month">Mes</label>
                        <select class="form-control" name="month">
                            <option></option>
                            <option value="01">Enero</option>
                            <option value="02">Febrero</option>
                            <option value="03">Marzo</option>
                            <option value="04">Abril</option>
                            <option value="05">Mayo</option>
                            <option value="06">Junio</option>
                            <option value="07">Julio</option>
                            <option value="08">Agosto</option>
                            <option value="09">Septiembre</option>
                            <option value="10">Octubre</option>
                            <option value="11">Noviembre</option>
                            <option value="12">Diciembre</option>
                        </select>
                    </div>
                    <div class="col-lg-6">
                        <label for="year">Año</label>
                        <select class="form-control" name="year">
                            {% for data in payload.years %}
                            <option value="{{data}}">{{data}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-offset-4 col-md-4">
                        <label for="format">Formato de Archivo</label>
                        <select class="form-control" name="format">
                            <option value="txt">Texto</option>
                            <option value="csv">CSV</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <input class="btn btn-primary btn-lg" name="search" value='Buscar' />
                <input type="submit" class="btn btn-success btn-lg" name="download" style="display:none;" value="Descargar Archivo">
            </div>
            <table class="table" style="display: none" name="tableResult">
                <thead>
                <tr>
                    <th>NU_ENTIDAD</th>
                    <th>RG_TRANS</th>
                    <th>RG_COL</th>
                    <th>RG_ROW</th>
                    <th>RG_VALUE</th>
                    <th>CYYYYMM</th>
                    <th>TRANS_FILETYPE</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <ul class="pagination"></ul>
        </div>
        <div class="modal"></div>
    </form>
</body>
</html>